@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2 style="color:#ff6a00">Welcome to Ingenious Technologies </h2>
    <p class="lead">
        As a leading software company
        Ingenious Technologies
        has earned the reputation for
        outstanding customer service and its suite of solut
        ion to facilitate a safe and secure
        software experience.
        Ingtech
        growth has been a result of its unique business mo
        del and clearly defined
        growth strategies. Its growth has been balanced and
        keeps exploring new dimensions.
        Date of establishment:
        January 1, 2010
    </p>
    <p><a href="http://www.ingtechbd.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

